body {
  font-family: "Garamond", serif;
}

.container {
  margin-top: 20px;
	margin-left: 200px;
	margin-right: 200px;

	padding: 10px 150px 10px 150px;
}

#photo {
  float: left; 
  border-radius: 10px;
  display: inline;
  width: 40px;
  height: 60px;
}

.intro {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 56px;
}

p {
padding: 5px;
}
