body {
  font-family: "Garamond", serif;
	font-size: 16px;
	color: white;
	background: #35373a;
}

#container {
	width: 900px;
	margin: auto;
}

.date {
	float: right
}

h1 {
  font-size: 56px;
}

#photo { 
	height: 104px;
	width: 140px;
}

#photo img {
max-width: 100%;
	max-height: 100%;
	margin: auto;
	display: block;
}
