body {
  font-family: "Garamond", serif;
	text-align: center;
	padding: 20px;
}

h1 {
  font-size: 56px;
}

#photo { 
	height: 104px;
	width: 140px;
}

#profilepic {
max-width: 100%;
	max-height: 100%;
	margin: auto;
	display: block;
}
